
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <link href="/make-color/css/uikit.min.css" rel="stylesheet" />
  <script src="/make-color/js/uikit.min.js"></script>
  <script src="/make-color/js/uikit-icons.min.js"></script>
  <title>Home</title>
  <meta charset="utf-8">
  <style>
    #bd{
      min-height: 100vh;
    }
    #header{
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    }
    .text-dark{
      color: #999 !important
    }
    .text-dark:hover{
      color: #666 !important
    }
    .active-text-dark{
      color: #333 !important
    }
    .logo-text-dark{
      color: #666 !important
    }
    body {
      background-color: rgba(170,170,170,0.5);
    }

  </style>
</head>
<body>
<div id="bd" class="uk-flex uk-flex-column uk-child-width-1-1">
  <div id="header" uk-sticky="top: 100; animation: uk-animation-slide-top">
    <nav class="uk-navbar-container uk-visible@s" uk-navbar>
      <div class="uk-navbar-left uk-margin-large-left">

        <a href="/main" class="uk-navbar-item uk-logo">StrongFit</a>

        <div class="uk-margin-large-left uk-margin-large-right">
          <ul class="uk-navbar-nav">
            <li><a href="/profile/?userId=1">Profiles</a></li>
            <li><a href="/main/list_exercises">List exercises</a></li>
            <li><a href="/main/notification">Notifications </a></li>
          </ul>
        </div>

        <div class="uk-margin">
          <form class="uk-search uk-search-default uk-form-horizontal" action ="/main/search" >
            <p></p>
            <input class="uk-search-input " type="text" value="" name = "input" placeholder="Search">
            <p></p>
            <label><input class="uk-radio" value="Person" name = "Type" type="radio" checked ="checked">Person</label>
            <label><input class="uk-radio" value ="Routine" type="radio" name="Type"> Routine</label>
          </form>
        </div>

      </div>

      <div class="uk-navbar-right uk-margin-large-right">
        <div>
          <form action="/logout" method="POST"><input type="hidden" name="_csrf" value="bbffab2c-7588-405d-b3d9-ec21cd2a42e8"/>
            <input type="submit" value = "logout" class="uk-button uk-button-primary"/>
          </form>
        </div>

      </div>
    </nav>
  </div>

  <form action="#" th:action="@{/routine/thembaitap/(id=${routine.id})}" th:object="${routineExerciseSet}">
    Exercise:
    <select th:field = "*{exercise}">
      <option th:each="i:${exerciseList}" th:value="${i}" th:text="${i.getExercise_name()}"></option>
    </select>
    Set: <input type = "number" th:field = "*{set}">
    Rep: <input type = "number" th:field = "*{rep}">
    Weight: <input type = "number" th:field = "*{weight}">
    <button type="submit">Save</button>

  </form>

  <div class="uk-margin-auto-top">
    <nav class="uk-navbar-container uk-visible@s" uk-navbar>
      <div class="uk-navbar-center">
        <div class="uk-navbar-center-left">
          <a href="/main" class="uk-navbar-item uk-logo">StrongFit</a>
        </div>
        <div class="uk-margin-large-left uk-margin-large-right uk-navbar-item">
          <div class="uk-margin-small-right">
            <a href="https://www.instagram.com/maybenex1ime/" class="uk-icon-button" uk-icon="icon: instagram; ratio: 1.5"></a>
          </div>
          <div class="uk-margin-small-left uk-margin-small-right">
            <a href="https://github.com/Maybenex1ime/Web_Project_Autumn_2021" class="uk-icon-button" uk-icon="icon: github; ratio: 1.5"></a>
          </div>
          <div class="uk-margin-small-left">
            <a href="https://www.facebook.com/profile.php?id=100011399705502" class="uk-icon-button" uk-icon="icon: facebook; ratio: 1.5"></a>
          </div>
        </div>
        <div class="uk-navbar-center-right">
          <div>
            <ul class="uk-navbar-nav">
              <li><a href="#" class="uk-padding-remove">All right reserved.</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

</body>
</html>
