<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:href="@{/make-color/css/uikit.min.css}" rel="stylesheet" />
    <script th:src="@{/make-color/js/uikit.min.js}"></script>
    <script th:src="@{/make-color/js/uikit-icons.min.js}"></script>
    <script th:src="@{/make-color/js/script.js}"></script>
    <title>Home</title>
    <meta charset="utf-8">
    <style>
        #bd{
            min-height: 100vh;
        }
        #header{
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
        }
        .text-dark{
            color: #999 !important
        }
        .text-dark:hover{
            color: #666 !important
        }
        .active-text-dark{
            color: #333 !important
        }
        .logo-text-dark{
            color: #666 !important
        }
        body {
            background-color: rgba(170,170,170,0.5);
        }

    </style>
</head>
<body>
<div id="bd" class="uk-flex uk-flex-column uk-child-width-1-1">
    <div id="header" uk-sticky="top: 100; animation: uk-animation-slide-top">
        <nav class="uk-navbar-container uk-visible@s" uk-navbar>
            <div class="uk-navbar-left uk-margin-large-left">

                <a th:href="@{/main/(user=${session.user.id})}" class="uk-navbar-item uk-logo">StrongFit</a>

                <div class="uk-margin-large-left uk-margin-large-right">
                    <ul class="uk-navbar-nav">
                        <li><a th:href="@{/profile/(userId=${session.user.id},ses=${session.user.id})}">Profiles</a></li>
                        <li><a th:href="@{/main/list_exercises}">List exercises</a></li>
                        <li><a th:href="@{/main/notification}">Notifications </a></li>
                    </ul>
                </div>

                <div class="uk-margin">
                    <form class="uk-search uk-search-default uk-form-horizontal" action ="#" th:action="@{/main/search}" >
                        <p></p>
                        <input class="uk-search-input " type="text" th:value="${input}" name = "input" placeholder="Search">
                        <p></p>
                        <label><input class="uk-radio" value="Person" name = "Type" type="radio" checked ="checked">Person</label>
                        <label><input class="uk-radio" value ="Routine" type="radio" name="Type"> Routine</label>
                    </form>
                </div>

            </div>

            <div class="uk-navbar-right uk-margin-large-right">
                <div>
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" value = "logout" class="uk-button uk-button-primary"/>
                    </form>
                </div>

            </div>
        </nav>
    </div>

    <div class="uk-container uk-margin-large" th:object="${routine}">

        <div>
            <div class="uk-card uk-card-default uk-grid-collapse" uk-grid>
                <div class="uk-card-media-left uk-width-1-2@m uk-cover-container">
                    <div class="uk-position-relative" tabindex="-1"
                         uk-slideshow=" min-height: 600; animation: push; autoplay: true; autoplay-interval: 6000; pause-on-hover: true">
                        <li>
                            <img th:src="@{*{urlImage}}">
                        </li>
                    </div>
                </div>
                <div class="uk-card-body uk-width-1-2@m uk-padding">
                    <div class="uk-flex">
                        <div class="uk-margin-auto-right uk-width-3-5">
                            <dl class="uk-description-list">
                                <div class="uk-text-bold uk-text-large uk-text-muted">
                                    <dt th:text="*{name}"></dt>
                                </div>
                                <div class="uk-text-small uk-text-muted">
                                    <dd><p th:text="'Time: ' + *{duration}"></p></dd>
                                    <dd><p th:text="'Volumn: ' + *{volumn}"></p></dd>
                                    <dd><a th:href="@{/profile(userId=${routine.owner.id},ses=${session.user.id})}"  th:text="'By '+ *{owner.username} "></a></dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="uk-margin-small-bottom uk-margin-medium-top">
                        <p class="uk-text-muted">A quick workout at home</p>
                    </div>

                    <table class="uk-table uk-table-divider">
                        <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Set</th>
                            <th>Rep</th>
                            <th>Volumn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="/processForm">Push up</a></td>
                            <td>4</td>
                            <td>8</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td><a href="/processForm">Squat</a></td>
                            <td>4</td>
                            <td>8</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td><a href="/processForm">Pull Up</a></td>
                            <td>3</td>
                            <td>10</td>
                            <td>None</td>

                        </tr>
                        </tbody>
                    </table>

                    <div class = uk-margin-small-top>
                        <p th:text = "${routine.likeNumber} + ${' people like this post'}"></p>
                        <p th:text = "${routine.commentNumber} + ${' comments'}"></p>
                    </div>

                    <div class="uk-margin-small-top" th:object="${user}">
                        <a id="heart" class="uk-icon-button" uk-icon="icon: heart ; ratio: 1.5" th:unless="${user.likedRoutine.contains(routine) }"  th:href="@{/routine/like(user = ${session.user.id},routine=${routine.id})}" ></a>
                        <a id="unheart" class="uk-icon-button" uk-icon="icon: heart ; ratio: 1.5" th:if="${user.likedRoutine.contains(routine) }"  th:href="@{/routine/unlike(user = ${session.user.id},routine=${routine.id})}" th:style="'color:pink'"></a>
                        <a class="uk-icon-button" uk-icon="icon: comment ; ratio: 1.5" onclick="show_hide()" ></a>
                        <a th:if="${session.user.id} != ${routine.owner.id}"  href="https://www.instagram.com/maybenex1ime/" class="uk-icon-button" uk-icon="icon: push ; ratio: 1.5"></a>
                        <a th:unless="${session.user.id} != ${routine.owner.id}" href="https://www.instagram.com/maybenex1ime/" class="uk-icon-button" uk-icon="icon: play ; ratio: 1.5"></a>
                    </div>

                    <div class ="uk-container " id="container_comment">
                        <table class="uk-table uk-table-divider">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment:${routine.commentList}">
                                <td th:text="${comment.writer.username}"></td>
                                <td th:text="${comment.content}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <form th:action="@{/routine/comment(writer=${session.user.id})}" th:object="${Newcomment}" method="post">
                            <input class = "uk-input" th:field="*{content}" type = "text" placeholder="Write ur comment"/>
                            <input type="hidden" th:field="*{routine}"/>
                            <input type="hidden"  th:field="*{writer}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-margin-auto-top">
        <nav class="uk-navbar-container uk-visible@s" uk-navbar>
            <div class="uk-navbar-center">
                <div class="uk-navbar-center-left">
                    <a href="/home/" class="uk-navbar-item uk-logo">StrongFit</a>
                </div>
                <div class="uk-margin-large-left uk-margin-large-right uk-navbar-item">
                    <div class="uk-margin-small-right">
                        <a href="https://www.instagram.com/maybenex1ime/" class="uk-icon-button" uk-icon="icon: instagram; ratio: 1.5"></a>
                    </div>
                    <div class="uk-margin-small-left uk-margin-small-right">
                        <a href="https://github.com/Maybenex1ime/Web_Project_Autumn_2021" class="uk-icon-button" uk-icon="icon: github; ratio: 1.5"></a>
                    </div>
                    <div class="uk-margin-small-left">
                        <a href="https://www.facebook.com/profile.php?id=100011399705502" class="uk-icon-button" uk-icon="icon: facebook; ratio: 1.5"></a>
                    </div>
                </div>
                <div class="uk-navbar-center-right">
                    <div>
                        <ul class="uk-navbar-nav">
                            <li><a href="#" class="uk-padding-remove">All right reserved.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

</body>
</html>
